@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Regular.otf") format('opentype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Bold.otf") format('opentype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Heavy.otf") format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Heavy.otf") format('opentype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Light.otf") format('opentype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Medium.otf") format('opentype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Semibold.otf") format('opentype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Thin.otf") format('opentype');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "SF";
  src: url("~@/UI/assets/scss/fonts/SF_Pro/SF-Pro-Text-Medium.otf") format('opentype');
  font-style: normal;
  font-weight: 500;
}